/* General form styling */
body {
  font-family: Arial, sans-serif;
  background: rgb(5, 78, 61);
  margin-left: 2px;
  padding: 20px;
}

form {
  background: rgb(2, 160, 118);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 450px;
}

h1 {
  color: #333;
  margin-bottom: 30px;
  font-size: 1.8rem;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-inline: -7px;
  border-radius: 7px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Highlight when focused */
.highlight {
  border-color: #007BFF;
  background-color: #eaf4ff;
}

/* Password mismatch */
.error {
  border-color: orangered;
  background-color: #ffe6e6;
}

/* Submit button */
button {
  background-color: #0a1715;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0cb845;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
